@font-face {
    font-family: 'Zen Maru Gothic';
    src: url(font/ZenMaruGothic-Light.ttf);
}

html {
    height: 100%;
    background: linear-gradient(0deg, #171717, #000000) no-repeat;
    font-family: 'Zen Maru Gothic';
}

h1 {
    font-size: 128px;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #3500D4 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;

}

body {
    margin: 0;
    padding: 0;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    height: 25px;
    background-color: #171717;
}

nav li {
    align-items: center;
    list-style: none;
    display: inline;
    padding: 0 30px;
}

nav a {
    color: white;
    text-decoration: none;
}