html {
    height: 100%;
    background: linear-gradient(0deg, #171717, #000000) no-repeat;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic', serif;
    color: white;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    height: 25px;
    background-color: #171717;
    border: 2px solid red;
}

nav li {
    align-items: center;
    list-style: none;
    display: inline;
    padding: 0 30px;
}

nav a {
    color: white;
    text-decoration: none;
}